$mainColorBlue = #2AA1FF

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100%;
  height: 100%;
  color gray
}

.comment-container
  width 400px
  //border 1px solid red
  margin 0 auto

.input-group
  display flex
  flex-direction column
  > *
    margin-top 1rem
  &_input-name
    border 3px solid gray
    border-radius 7px
    padding 0.5rem
  &_input-name:focus, &_input-comment:focus, &_btn:focus
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
  &_input-comment
    border 3px solid $mainColorBlue
    border-radius 7px
    padding 0.5rem
  &_btn
    background-color $mainColorBlue
    color white
    text-align center
    border none
    border-radius 7px
    padding 0.5rem
  &_btn:active
    box-shadow 2px 2px 2px rgba(21, 21, 21, 0.58) inset

.comment-list_item
  display flex
  flex-direction column
  margin-top 2rem
  border-bottom 1px solid gray
  > *
    flex-grow 1
    margin-top 1rem
  &_message
    padding-bottom 0.5rem
  &_date
    text-align right
  &_head
    &_name
      color $mainColorBlue
      font-weight bold
      float left
    &_btn-delete
      float right
      button[data-action="delete"]
        color gray
        border none
        background none
      button[data-action="delete"]:hover
        background lightgray
      button[data-action="delete"]:active
        box-shadow inset 1px 1px 3px rgba(0,0,0,0.5)
      button[data-action="delete"]:focus
        outline none